<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nearby Food Trucks</title>
</head>
<body>

<div id="app">
  <h1>Nearby Food Trucks</h1>
  
  <p>Latitude: {{ latitude }}</p>
  <p>Longitude: {{ longitude }}</p>

  <div v-if="loading">Loading...</div>

  <div v-if="!loading && foodTrucks.length === 0">
    No nearby food trucks found.
  </div>

  <div v-if="foodTrucks.length > 0">
    <h2>Nearby Food Trucks:</h2>
    <input type="text" v-model="filterKeyword" placeholder="input keyword filter"> <button @click="resetInput">Reset</button>
    <ul>
      <li v-for="truck in filteredFoodTrucks" :key="truck.id">
        {{ truck.name }} - Distance: {{ truck.distance }} km - Address: {{ truck.address }} - FoodItems: {{ truck.foodItems }}
      </li>
    </ul>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="app.js"></script>
</body>
</html>
